/**
 * MATERIAL STYLE
 * Стиль для сайта 4PDA.RU
 * Автор: Морфий
*/

//                                ---- COLOR ----

		@import 'css/material_light';
//		@import 'css/material_dark';
//		@import 'css/material_black';

@import 'css/property_helper';

@width:					50em;
@micro:					15em;
@widthPoll:				30em;
@rem:					0.0625rem;
@em:					0.0625em;
@codeLineHeight:		22*@rem;

.color(@percent: 50%) {color: mix(@color,@bgColor,@percent);}

HTML{
	font-size: 1rem;
	margin: 0;
	padding: 0;
	body{
		position: relative;
		font-family: Arial, 'Roboto';
		margin: 0;
		padding: 0;
		font-size: 1em;
		overflow-wrap: break-word;
		word-break: break-word;
		white-space: normal;
		color: @color;
		.pref(box-sizing, border-box);
		background-color: @tmColor;
		ul, ol {
			padding-left: 1.5rem;
		}
		a {
			cursor: pointer;
			text-decoration: none !important;
			color: @linkColor;
		}
	}
}

/*
*	PICTURES SIZE
*/


img {
	height: auto;
	width: auto;
	max-width: 100%;
}

/*
*         FONT_SIZE
*/

@import 'css/font-size';

/*
*         POST_BLOCK
*/

.post-block {
	display: block;
	&.quote,
	&.code,
	&.hidden,
	&.spoil {
		display: block;
		padding: 0.5rem 0.625rem;
		margin: 0.5rem 0;
		border: none;
		background: none;
		.border-radius;
		> .block-title {
			margin: 0;
			padding: 0;
			font-size: 1rem;
			line-height: 1.4;
			font-weight: bold;
			font-style: italic;
			border: none;
			background: none;
		}
		> .block-body{
			margin:0;
			padding: 0;
			margin-top: 0.5rem;
			font-size: 1rem;
			color: @color;
			border: none;
			background: none;
		}
	}
	&.quote {
		position: relative;
		background: mix(@bg-quote, @bgColor, 40%);
		>.block-title {
			color: mix(@color, @linkColor, 8%);
			&:before,
			&:after {
				content:'' !important;
			}
			&:empty {
				margin-left: 0;
				&:before {
					content:'Цитата' !important;
				}
			}
			a[title="Перейти к сообщению"] {
				float: left;
				margin: -0.5rem 0.25rem 0 -0.25rem !important;
				.pref(opacity, 0.8);
				&:before {
					background: mix(@color, @linkColor, 8%);
				}
			}
			a[title="Ссылка "] {
				margin: 0 0.5rem;
				.pref(box-sizing, border-box);
				color: @linkColor;
				border-bottom: 1px solid mix(@linkColor, @bgColor, 50%);
			}
		}
		>.block-body {
			color: saturate(mix(@bg-quote, @color, 20%),50%);
		}
	}
	&.code {
		counter-reset: num-line;
		position: relative;
		padding: 0;
		overflow: hidden;
		background: mix(@bg-code, @bgColor, 40%);
		>.block-title {
			margin: 0;
			padding: 0.5rem 0.5rem 0.5rem 0.625rem;
			color: saturate(mix(@bg-code, @color, 50%),50%);
			&:before {
				content:'Код';
			}
		}
		>.block-body {
			font-family: 'Roboto Mono';
			padding: 0;
			margin: 0.5rem;
			overflow-x: auto;
			white-space: pre-wrap;
			font-size: 1rem;
			line-height: @codeLineHeight !important;
			-webkit-tab-size: 4;
			tab-size: 4;
			color: saturate(mix(@bg-code, @color, 30%),100%);
			background: linear-gradient(mix(mix(@bg-code, @bgColor, 40%),@color,97%) @codeLineHeight, transparent @codeLineHeight);
			background-size: @codeLineHeight * 2 @codeLineHeight * 2;
			br {
				display: inline-block;
				width: 1rem;
				height: 1rem;
				&:after {
					display: inline-block;
					width: 1rem;
					height: 1rem;
					counter-increment: num-line;
					content: counter(num-line);
					background: red;
				}
			}
		}
		&.box {
			> .block-title {
				&:after {
					content:'' !important;
				}
				&:before {
					content:'Развернуть Код' !important;
				}
			}
			> .block-body {
				max-height: 9.5rem;
				overflow-y: hidden;
			}
		}
		&.unbox {
			> .block-title {
				&:before {
					content:'Свернуть Код' !important;
				}
			}
		}
	}
	&.hidden {
		background: @bg-hidden;
		>.block-title{
			color: mix(@color, @bg-hidden, 70%);
			&:before{
				content:'Скрытый текст: ';
			}
			&:empty:before{
				content:'Скрытый текст';
			}
		}
		>.block-body {
			a { color: @linkColor; }
		}
	}
	&.spoil {
		position: relative;
		padding: 0;
		overflow: hidden;
		.pref(box-sizing, border-box);
		font-size: 1rem;
		background: @spoilBgColor;
		> a {
			display: inline-block !important;
			margin: 4*@rem 0 !important;
			height: 1rem;
			width: 1.5rem;
		}
		.spoil {
			margin: 0.5rem 0 0.5rem;
			.block-body {
				margin-right: 0;
			}
		}
		&:before {
			position: absolute;
			left: 0.625rem;
			top: 12*@rem;
			font-size: 1em;
			content:'';
			height: 0.625em;
			width: 0.625em;
			margin: 0 0.75rem 0 0.25rem;
			.pref(box-sizing, border-box);
			border-top: 0.125em solid;
			border-left: 0.125em solid;
			.pref(transition, 0.3s ease);
		}
		>.block-title {
			padding: 6*@rem 2.25rem + 0.125;
			font-style: normal;
			min-height: 1.25rem;
			color: white !important;
			font-size: 1rem;
			overflow: hidden;
			&:before,
			&:after {
				content:'' !important;
			}
			&.empty:before,
			&:empty:before {
				position: relative;
				display: inline;
				content:'Спойлер' !important;
			}
			* {
				color: inherit !important;
				font-size: 1rem !important;
				line-height: 1.4 !important;
				font-style: normal !important;
			}
		} 
		>.block-body {
			padding: 0.75rem;
			margin: 0;
			.pref(box-sizing, border-box);
		}
		&.close {
			background: @spoilColor;
			> a {
				color: White !important;
			}
			&:before {
				.pref(transform, rotate(-135deg) translate(0.125rem, 0.125rem));
				border-top-color: white;
				border-left-color: white;
			}
			> .block-title {
//				background: @spoilColor;
			}
			> .block-body {
				display: none;
			}
		}
		&.open {
			> a {
				.color(40%);
			}
			&:before {
				.pref(transform, rotate(45deg) translate(0.125rem, 0.125rem));
				border-top-color: mix(@color, @bgColor, 60%);
				border-left-color: mix(@color, @bgColor, 60%);
			}
			.open {
				background: @bgColor;
				.open {
					background: @spoilBgColor;
					.open {
						background: @bgColor;
						.open {
							background: @spoilBgColor;
							.open {
								background: @bgColor;
								.open {
									background: @spoilBgColor;
									.open {
										background: @bgColor;
									}
								}
							}
						}
					}
				}
			}
			> .block-title {
				color: mix(@color, @bgColor, 60%) !important;
				margin: 0;
			}
		}
	}
}

/*
*	ADM TAGS
*/

.post-block {
	&.cur {
		 > .block-title {background: rgb(0,150,0);}
		 > .block-body {background: rgba(0,150,0,0.07);}
	}
	&.mod {
		> .block-title {background: rgb(0,150,225);}
		> .block-body {background: rgba(0,150,225,0.07);}
	}
	&.ex {
		 > .block-title {background: rgb(225,70,40);}
		 > .block-body {background: rgba(225,70,40,0.07);}
	}
	&.cur, &.mod, &.ex{
		margin: 1rem 0;
		display: table;
		width: 100%;
		min-height: 5rem;
		overflow: hidden;
		.border-radius;
		background: @bgColor;
		> .block-title{
			display: table-cell;
			vertical-align: middle;
			color: @bgColor;
			width: 4rem;
			text-align: center;
			height: 100%;
			font-size: 3rem;
			.border-radius(0);
		}
		> .block-body{
			display: table-cell;
			vertical-align: middle;
			font-size: 1rem;
			text-align: left;
			padding: 0.5rem;
			height: 100%;
			margin: 0;
		}
	}
}

#ipbwrapper {
	margin: 0;
	padding: 0;
	width: auto !important;
	font-size: 1rem;
	/* убрать рекламу и логотип форума */
	> div table tr[valign="top"],
	> div#go_1 {
		display: none !important;
	}
	/* меню поиска */
	#submenu {
		margin: 1rem 0;
		padding: 0 1rem;
		.ipb-top-right-link {
			a {
				padding: 0.5rem 0.75rem;
				font-size: 1rem;
				font-weight: bold;
				.color(50%);
			}
		}
	}
	/* ник и выход */
	.user_home {
		top: -2rem !important;
		padding: 0 0.5rem;
		margin: 0;
		color: transparent;
		a {
			font-size: 1rem;
			.color(50%);
		}
		b {
			a {
				margin-left: -5rem;
				padding: 0.5rem 0.75rem 0.5rem 2.5rem;
				font-weight: bold;
				background: url('src/person.svg') no-repeat left;
				background-size: 1.5rem;
			}
		}
		> a {
			padding: 0.5rem 0.75rem;
			font-weight: bold;
		}
	}
	#userlinks {
		display: block;
		margin: 0 0.5rem;
		padding: 0;
		.border-radius;
		border: none;
		background: @spoilColor;
		p {
			margin: 0;
			float: none !important;
			text-align: center !important;
		}
		a {
			font-size: 1rem;
		}
		/* Cсылки на форумы */
		.home {
			a {
				color: white;
				i:before {
					display: inline-block;
					width: 1.5em;
					height: 1.5em;
					font-size: 1em;
					color: rgba(255,255,255,0.75);
				}
			}
		}
		/* Упоменания, Сообщения, Избранное(\d*), Меню пользователя*/
		p:not(.home) {
			padding-right: 0.5rem;
			color: transparent;
			a {
				padding: 0.25rem 1.5rem;
				font-weight: bold;
				color: white;
			}
			#post-member-usercp {
				padding: 0.25rem 2rem 0.25rem 1.5rem;
				overflow: hidden;
				font-size: 1rem;
				font-weight: bold;
				color: white;
				outline: none;
				border: none;
				background: none;
				background-image: url('src/down_white.svg');
				background-repeat: no-repeat;
				background-size: 1.5rem;
				background-position: right;
			}
		}
	}
	/* менюшки */
	.popupmenu-new,
	.popupmenu {
		.border-radius;
		font-size: 1rem;
		border: none;
		outline: none;
		background: @bgColor;
		.boxShadow(3);
		DIV[class*="popupmenu-item"] {
			border: none;
			img {
				display: none;
			}
			a {
				display: block;
				padding: 0.5rem;
				font-size: 1rem;
				color: @color;
			}
		}
		form {
			display: block;
			position: relative;
			margin: 1rem;
			color: @color;
//			br { display: none }
			input[type="text"] {
				width: 14rem;
				margin-bottom: 1.5rem;
				padding: 0.25rem 0;
				font-size: 1rem;
				color: @color;
				.pref(box-sizing, border-box);
				outline: none;
				border: none;
				border-bottom: 0.125rem solid mix(@color, @bgColor, 20%);
				background: @bgColor;
				&:focus {
					border-bottom-color: @linkColor;
				}
			}
			.button {
				display: inline-block;
				position: absolute;
				top: 0;
				right: 0;
				width: 2.5rem;
				height: 2.5rem;
				overflow: hidden;
			}
			input[type="checkbox"] {
				width: 1rem;
				height: 1rem;
			}
			label {
				display: block;
				margin-top: 0.5rem;
			}
		}
		div[style="padding:4px"] {
			margin: 1rem;
			text-align: center;
			a {
				padding: 0.5rem;
				font-size: 14*@rem;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
				color: @linkColor;
			}
		}
		&#ipb-tl-search_menu,
		&[id*="fav-subscribe-"] {
			width: 20rem !important;
			left: auto !important;
			right: 0.5rem;
		}
		/* меню пользователя */
		&[id*="post-member"] {
			width: 20rem !important;
			
		}
		&#post-member-usercp_menu,
		&#topicmenu-options,
		&#favmenu-options_menu {
			width: 10rem !important;
			left: auto !important;
			right: 0.5rem;
		}
	}
	/* меню ползователя */
div[class="popupmenu-new"][id*="post-member"]:not(#post-member-usercp_menu) {
	> .popupmenu-item-last {
		.popupmenu-item,
		.popupmenu-item-last {
			img {display: none !important;}
			a[href*="act=qms"],
			a[href*="showuser"],
			a[href*="search"] {
				padding-left: 2.5rem;
				margin-left: 0.25rem;
				background-position: left;
				background-repeat: no-repeat;
				background-size: 1.5rem;
			}
			a[href*="act=qms"] {
				background-image: url(src/message.svg);
			}
			a[href*="showuser"] {
				background-image: url(src/person.svg);
			}
			a[href*="search"] {
				background-image: url(src/search.svg);
			}
		}
	}
}
	/* уведомление QMS */
	#events-wrapper {
//		display: block !important;
		.border-radius;
		font-size: 1rem;
//		font-weight: bold;
		background: #60A234;
	}
	/* Ссылки на родительские форумы */
	#navstrip {
		margin: 1rem 0;
		padding: 0;
		font-size: 15*@rem;
		font-weight: normal;
		.color(50%);
		img {
			display: none;
		}
		a {
			padding: 0.5rem;
			font-weight: bold;
			.color(50%);
		}
	}
	> .ipbtable,
	> div {
		margin: 0;
		padding: 0;
	}
	/* пагинация */
	.pagelink,
	.pagelinklast,
	.pagecurrent {
		padding: 0;
		margin: 0;
		vertical-align: middle;
		font-size: 1rem;
		font-weight: bold;
		border: none;
		background: none;
		a {
			padding: 0.5rem;
			.color(50%);
		}
		a[title="На первую страницу"]
		a[title="Предыдущая страница"],
		a[title="Следующая страница"],
		a[title="На последнюю страницу"] {
			
		}
		a[title="Предыдущая страница"] {
			
		}
		a[title="Следующая страница"] {
			
		}
		a[title="На первую страницу"],
		a[title="На последнюю страницу"] {
			color: transparent;
			&:before {
				content:"";
				display: inline-block;
				margin-right: -0.5rem;
				.color(50%);
			}
		}
		a[title="На первую страницу"] {
			&:before {
				content:"<<";
			}
		}
		a[title="На последнюю страницу"] {
			&:before {
				content:">>";
			}
		}
	}
	span[id*="page-jump"] {
		margin: 0 0.5rem;
		padding: 0.25rem 2rem 0.25rem 0.75rem;
		font-weight: bold;
		.color(50%) !important;
		background: url('src/down_grey.svg') no-repeat right;
		background-size: 1.5rem;
		img {
			display: none;
		}
	}
	.pagecurrent {
		margin: 0 0.25rem;
		padding: 0.25rem 0.75rem;
		.border-radius;
		color: white;
		background: @spoilColor;
	}
	.pagelinklast {
		
	}
	/* меню выбора страницы */
	.popupmenu {
		left: 0.5rem !important;
		.popupmenu-category {
			font-size: 1rem;
			padding: 0.75rem;
			color: @color;
			border: none;
			background: none;
		}
		input[type="text"] {
			width: 8rem;
			margin-bottom: 1.5rem;
			padding: 0.25rem 0;
			font-size: 1rem;
			color: @color;
			.pref(box-sizing, border-box);
			outline: none;
			border: none;
			border-bottom: 2px solid mix(@color, @bgColor, 20%);
			background: @bgColor;
			&:focus {
				border-bottom: 2px solid @linkColor;
			}
		}
		.button {
			font-size: 1rem;
			font-weight: bold;
			text-transform: uppercase;
			color: @linkColor;
			border: none;
			background: none;
		}
	}
	
	/* ответить и поиск по теме | мультимодерация*/
	.nopad,
	.barc,
	.bar {
		border: none;
		background: none;
		form {
			color: @color;
			input[type="text"] {
				padding: 0.25rem;
				font-size: 15*@rem;
				.color(25%);
				.pref(box-sizing, border-box);
				outline: none;
				border: none;
				border-bottom: 0.125rem solid mix(@color, @bgColor, 20%);
				background: transparent;
				&:focus {
					color: @color;
					border-bottom-color: @linkColor;
				}
			}
		}
		select {
			padding-right: 1.5rem;
			font-size: 1rem;
			.color(50%);
			border: none;
			outline: none;
			background-color: none;
			background: url(src/down_grey.svg) right no-repeat;
			background-size: 1.5rem;
			.pref(appearance, none);
		}
		.button {
			display: inline-block;
			margin: 0 0.5rem;
			font-size: 14*@rem;
			font-weight: bold;
			text-transform: uppercase;
			color: @linkColor;
			border: none;
			background: none;
		}
		a[href*="reply"],
		a[href*="javascript:ShowHide"]{
			display: inline-block;
			margin: 0 0.5rem 0 0;
			padding: 0;
			vertical-align: middle;
			img { display: none;}
			&:before {
				display: inline-block;
				content:'';
				padding: 0.5rem 0.75rem;
				.border-radius;
				font-size: 14*@rem;
				font-weight: bold;
				text-transform: uppercase;
				color: white;
				background: @spoilColor;
			}
		}
		a[href*="javascript:ShowHide"]:before {
			content:'Быстрый ответ';
		}
		a[href*="reply"]:before {
			content:'Ответ';
		}
	}
	/* Список постов */
	> .borderwrap {
		margin: 0 0.5rem;
		padding: 0;
		border: none;
		background: none;
		/* название темы */
		.maintitle {
			padding: 0.25rem !important;
			.border-radius;
			border: none;
			background: @spoilColor;
			tr {
				td:nth-child(1) {
					padding: 0.25rem;
					font-size: 1rem;
					img {display: none;}
				}
				td:nth-child(2) {}
				td:nth-child(3) {
					.popmenubutton {
						text-align: right;
						height: 1.4rem;
						border: none;
						background: none;
						a {
							display: inline-block;
							padding: 0 2rem 0 0 !important;
							color: white;
							font-size: 1rem;
							background-image: url('src/down_white.svg');
							background-repeat: no-repeat;
							background-size: 1.5rem;
							background-position: right;
						}
					}
					img { display: none;}
				}
			}
		}
		/* Опрос */
		FORM[action*="poll"] {
			> TABLE.ipbtable {
				display: table-block;
				font-size: 1rem;
				margin: 0.5rem 0;
				.border-radius;
				background: @bgColor;
				.boxShadow(1);
				tr, td, .borderwrap {
					border: none;
					background: none;
				}
				tr:nth-child(1) {
					th {
						padding: 1rem;
						font-size: 1.25rem;
						color: @color;
						border: none;
						background: none;
					}
				}
				tr:nth-child(2) {
					td {
						font-size: 1rem;
						color: @color;
						> .borderwrap {
							margin: 0.5rem;
							> div {
								border: none;
								background: none;
								span {
									font-size: 1rem;
								}
							}
							> .ipbtable {
								b {
									font-weight: normal
								}
							}
						}
					}
				}
				tr {
					TD.row1[colspan="3"][align="center"] {
						font-size: 1rem;
						.color(50%);
					}
					TD.formbuttonrow {
						background: none !important;
						.button {
							padding: 0.5rem;
							font-size: 1rem;
							color: @linkColor;
							font-weight: bold;
							text-transform: uppercase;
							border: none;
							outline: none;
							background: none;
						}
					}
					td.catend {
						display: none;
					}
				}
			}
			b {
				position: relative;
			}
			input[type="radio"],
			input[type="checkbox"] {
				display: inline-block;
				with: 1rem;
				height: 1rem;
				margin-right: 0.75rem;
				.opacity(0);
				+ b:before {
					.pref(pointer-events, none);
					position: absolute;
					left: -2rem;
					top: 0.0625rem;
					content:'';
					display: inline-block;
					height: 1rem;
					width: 1rem;
					vertical-align: middle;
					overflow: hidden;
					border: 0.125rem solid mix(@color, @bgColor, 50%);
//					background: @bgColor;
				}
				+ b:after {
					.pref(pointer-events, none);
					position: absolute;
					left: -1.875rem;
					top: 0.1875rem;
				}
			}
			input[type="radio"] {
				+ b {
					transition: transform 0.3s;
					&:before {
						border-radius: 1rem;
					}
					&:after {
						position: absolute;
						content:'';
						display: inline-block;
						height: 1rem;
						width: 1rem;
						border-radius: 100%;
						background: @linkColor;
						.transform(scale(0,0));
					}
				}
				&:checked + b {
					&:before {
						border-color: @linkColor;
					}
					&:after {
						.transform(scale(0.65,0.65));
					}
				}
			}
			input[type="checkbox"] {
				+ b {
					transition: transform 0.3s;
					&:before {
						.border-radius;
					}
					&:after {
						content:'';
						position: absolute;
						display: inline-block;
						height: 12*@rem;
						width: 6*@rem;
						border-bottom: 2.5*@rem solid @bgColor;
						border-right: 2.5*@rem solid @bgColor;
						.transform(rotate(45deg) translate((2*@rem), -(3*@rem)) scale(0,0));
					}
				}
				&:checked + b {
					&:before {
						background: @linkColor;
						border-color: @linkColor;
					}
					&:after {
						.transform(rotate(45deg) translate((2*@rem), -(3*@rem)) scale(1,1));
					}
				}
			}
		}
		/* список тем */
		> TABLE.ipbtable:not([data-post]) {
			margin: 0.5rem 0 0 !important;
			.border-radius;
			border-collapse: collapse;
			color: @color;
			background: @bgColor;
			.boxShadow(1);
			select {
				padding: 0 1.5rem 0 0;
				width: 10rem;
				font-size: 16*@rem;
				.color(70%);
				border: none;
				background: none;
				.pref(appearance, none);
				background: url(src/down_grey.svg) no-repeat right;
				background-size: 1.5rem;
			}
			th, td {
				padding: 0;
				font-size: 1rem;
				color: @color;
				border: none;
				background: none;
				&:last-child:not(.darkrow1) { // чекбоксы
					text-align: center;
					padding: 0 !important;
					min-width: 2rem !important;
					a {
						display: inline-block;
						width: 1rem;
						height: 1rem;
					}
					img {
						display: block;
						width: 1rem;
						height: 1rem;
						opacity: 0.7;
					}
				}
			}
			.nopad {
				padding: 0;
			}
			th:last-child {
				a {
					margin-left: 0.5rem;
				}
			}
			/* шапка списка */
			tr:nth-child(1) {
				th {
					padding: 0.5rem !important;
					font-size: 14*@rem;
					text-align: left !important;
					font-weight: normal;
					line-height: 1.25em;
					.color(50%);
					border-bottom: 1px solid @borderColor;
				}
			}
			.darkrow1 {
				padding: 1rem;
				border-bottom: 1px solid @borderColor;
				b {			
					font-size: 1.25rem;
					font-weight: normal;
					.color(70%);
				}
			}
			tr[data-item-fid] {
				td, th {
					padding: 0.75rem 0.5rem;
					line-height: 1.25;
					border-bottom: 1px solid @borderColor;
					span, a {
						font-size: 15*@rem;
						.color(50%);
					}
					a[href*="showuser"] {
						font-weight: bold;
					}
					.lastaction { // дата послед. сообщ.
						font-size: 14*@rem;
						a[href*="getlastpost"] {
							font-size: 14*@rem;
						}
					}
				}
				&:last-child {
					td {
						border: none;
					}
				}
				td:nth-child(1) { /* иконка списка */
					min-width: 1.5rem !important;
					img {
						width: 1rem;
					}
				}
				td:nth-child(2) { /* название темы, пагинация и описание */
					a[href*="view=getnewpost"] { // к непрочитанному
						position: relative;
						display: inline-block;
						width: 1rem;
						height: 1rem;
						margin-bottom: -0.125rem;
						border-radius: 100%;
						background: @linkColor;
						img {display: none;}
						&:before {
							position: absolute;
							display: inline-block;
							box-sizing: border-box;
							content: '';
							top: 0.25rem;
							left: 3*@rem;
							width: 0.5rem;
							height: 0.5rem;
							border-top: 0.1875rem solid @bgColor;
							border-left: 0.1875rem solid @bgColor;
							.rotate(135deg);
						}
					}
					span a[title*="Тема создана"] {
						font-size: 1rem;
						color: @color;
					}
					a[onclick*="PopUp"] { // аттачи
						display: inline-block;
						width: 1.25rem;
						height: 1.25rem;
						line-height: 1rem;
						vertical-align: middle;
						background: url('src/attach.svg') no-repeat center;
						background-size: 1.25rem;
						img {display: none;}
					}
					span:not(.minipagelink, minipagelinklast) {
						display: inline-block;
						margin: 0;
						font-size: 1rem;
						padding: 0 !important;
						border: none;
						background: none;
					}
					a[title="Переход по страницам"] {
						img {
							display: inline-block;
							width: 1rem;
						}
					}
					.minipagelink, .minipagelinklast { // пагинация
						display: inline-block;
						margin: 0;
						padding: 0;
						font-weight: bold;
						border: none;
						background: none;
						a {
							padding: 0 0.25rem;
							font-size: 14*@rem;
							.color(50%);
						}
					}
					.minipagelinklast {
						position: relative;
						margin-left: 1rem;
						a:after {
							content:'>>';
							position: absolute;
							display: inline-block;
							left: -0.5rem;
							width: 1.25rem;
							height: 1rem;
							background: @bgColor;
//							outline: 1px solid red;
						}
					}
					.desc {
						margin: 0.25rem 0 0;
						padding: 0;
						> span:empty {display: none;}
						span, a {
							font-size: 14*@rem;
						}
						br {display: none;}
						span:not(.forumdesc) {
							.color(50%);
						}
						.forumdesc {
							display: block;
							margin: 0;
							a {
								color: @linkColor;
							}
							i {
								.color(50%);
							}
							b {
								display: block;
							}
						}
					}
				}
				td {
					a[id*="fav-subscribe"] {
						padding: 0 1.5rem 0 0;
						background: url(src/down_grey.svg) no-repeat right;
						background-size: 1.5rem;
					}
					img[title="Открыть меню"] {display: none;}
				}
			}
		}
		/* Пост */
		TABLE.ipbtable[data-post] {
			margin: 0.5rem 0;
			.border-radius;
			color: @color;
			background: @bgColor;
			.boxShadow(1);
			tr, td {
				border: none;
				background: none !important;
			}
			tr:nth-child(1) {
				td {
					min-width: 13rem !important;
					padding: 0;
					.color(50%);
				}
				/* Ник и меню пользователя */
				td:nth-child(1) {
					.popmenubutton-new,
					.popmenubutton-new-out {
						margin: auto;
						padding: 0;
						border: none;
						background: none;
						.normalname {
							display: inline-block;
							a {
								display: inline-block;
								text-align: center;
								margin: 0.25rem 0 0;
								padding: 0.5rem 1.5rem 0.5rem 0.5rem;
								font-size: 18*@rem;
								color: @color;
								background: url(src/down_grey.svg) no-repeat right;
								background-size: 1.5rem;
							}
						}
					}
				}
				/* дата и ссылка на сообщение */
				td:nth-child(2) {
					padding: 0 0.5rem;
					font-size: 0.75rem;
					img {display:none;}
					div {
						a {
							padding: 0.5rem 0;
							font-size: 0.75rem;
							color: @linkColor;
							font-weight: bold;
						}
					}
				}
			}
			/* Информация о пользователе */
			tr:nth-child(2) {
				td:nth-child(1) {}
				.postdetails {
					center {
						position: relative;
						font-size: 0.75rem;
						line-height: 1.4;
						.color(50%);
						&:before {
							content:'';
							display: inline-block;
							.border-radius(4rem);
							width: 4rem;
							height: 4rem;
							font-size: 1rem;
							line-height: 4rem;
							font-weight: bold;
							background: @borderColor url(src/person.svg) center no-repeat;
							background-size: 3em;
						}
						.user-avatar {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							display: block;
							margin: auto;
							.border-radius;
							overflow: hidden !important;
							.border-radius(4rem);
							width: 4rem;
							height: 4rem;
							background: @bgColor;
							img {
								display: inline-block;
								max-width: 4rem;
								max-height: 4rem;
							}
						}
						.mem-title {
							margin: auto;
						}
						IMG[alt="*"] {
							display: inline-block;
							.border-radius(1px);
							margin: 0 1px 0 0;
							height:0;
							width:0;
							border: 0.25rem solid mix(@linkColor,@bgColor,50%);
							&:last-child {
								margin: 0;
							}
						}
						font {
							display: inline-block;
							position: absolute;
							top: 2.75rem;
							.border-radius(0.75rem);
							width: 0.75rem;
							height: 0.75rem;
							margin-left: 1.125rem;
							overflow: hidden;
							color: transparent;
							border: 0.125rem solid @bgColor;
							&[color="green"] {
								background: #259b24;
							}
							&[color="red"] {
								background: #ff5722;
							}
							+ br {
								display: none;
							}
						}
						/* модель устройства */
						a[href*="/devdb/"] {
							.color(50%);
						}
						/* предупреждения */
						a[href*="javascript:PopUp"] {
							.color(50%);
						}
						img[alt="-----"] {
							display: none;
						}
						> b {
							position: relative;
							a {
								span {
									.color(60%);
								}
							}
							&:after,
							&:before {
								content:'';
								position: absolute;
								display: inline-block;
								font-weight: bold;
								width: 1rem;
								height: 1rem;
								.opacity(0.7);
								.border-radius;
								.pref(pointer-events, none);
								color: @bgColor;
							}
							&:before {
								left: -1.375rem;
								content:'–';
								background: #ff5722;
							}
							&:after {
								right: -1.375rem;
								content:'+';
								background: #259b24;
							}
						}
						img[alt="-"],
						img[alt="+"] {
							display: inline-block;
							.opacity(0);
							width: 1rem;
							height: 1rem;
						}
					}
				}
				/* Тело поста */
				td:nth-child(2) {
					.postcolor {
						padding: 0.5rem;
						font-size: 1rem;
						color: @color;
						table[id*="ipb-attach"] * {
							display: inline-block;
							margin: 0;
							padding: 0;
							text-decoration: none;
							.attach { margin-bottom: 0.2rem; }
						}
						img[src*="folder_mime_types"],
						img[alt="Прикрепленный файл"] {
							display: none;
						}
						a {
							color: @linkColor;
							text-decoration: none;
							&[data-rel="lyteframe"],
							&.sp_img {
								display: inline-block;
								margin: 0.25rem 0;
								&:before {
									.iconStyle('src/attach.svg');
									margin-right: 0.3rem;
								}
							}
						}
						font {
							font-size: 0.875rem !important;
							> * {
								opacity: 0.7 !important;
							}
							* {
								font-size: inherit;
								color: mix(@color, @bgColor, 70%);
							}
							a[title="Перейти к сообщению"] {
								font-size: 0.625rem;
							}
							a[title="Ссылка"] {
								color: @linkColor;
							}
						}
						.edit{
							display: block;
							font-size: 0.875rem !important;
							font-style: italic;
							color: mix(@color, @bgColor, 50%);
						}
						.post-edit-reason {
							display: inline-block;
							font-size: 0.9375rem;
							margin-top: 0.3rem;
							font-weight: bold;
							color: mix(@color, @bgColor, 50%);
							text-align: left;
							border: none;
							background: none;
						}
						span[style="font-family:monospace"] {
							font-family: 'roboto mono', monospace !important;
							font-size: 1rem;
						}
						.post-block.code > .block-body {
							&:before {
								content:'';
							}
						}
						.desc {
							margin-left: 0.5rem;
							font-size: 15*@rem;
							.color(50%);
						}
					}
					a[title="Перейти к сообщению"] {
						position: relative;
						display: inline-block;
						margin: 0 -0.1875rem 0 0;
						top: 0.375rem;
						width: 1.5rem;
						height: 1.5rem;
						img {
							display: none;
						}
						&:before {
							position: absolute;
							content: '';
							display: inline-block;
							top: 0.25rem;
							left: 0.25rem;
							width: 1rem;
							height: 1rem;
							border-radius: 1rem;
							background: @linkColor;
							overflow: visible;
						}
						&:after {
							position: absolute;
							display: inline-block;
							box-sizing: border-box;
							content: '';
							top: 0.490625rem;
							left: 0.5625rem;
							width: 0.5rem;
							height: 0.5rem;
							border-top: 0.1875rem solid @bgColor;
							border-left: 0.1875rem solid @bgColor;
							-webkit-transform: rotate(-45deg);
							transform: rotate(-45deg);
						}
					}
					> div {
						color: transparent;
						> br {
							display: none;
						}
					}
					.signature {
						.opacity(0.75);
						margin: 0 0.5rem;
						padding: 0.5rem 0;
						font-size: 0.75rem;
						border-top: 1px solid @borderColor;;
					}
				}
			}
			/* футер поста */
			tr:nth-child(3) {
				td {
					div {
						> span {
							margin-top: 2*@rem !important;
						}
						> span a,
						> a:before {
							padding: 0.25rem;
							margin: 0 0.25rem;
							display: inline-block;
							font-size: 13*@rem;
							font-weight: bold;
							text-transform: uppercase;
							.color(50%);
						}
						> a img {
							display: none;
						}
					}
				}
				td:nth-child(1) {
					div {
						A[href*="devfaq"] {
							margin-top: -3*@rem;
						}
						A[href="javascript:scroll(0,0);"]:before {
							content:'Вверх';
						}
						A[href*="report"]:before {
							content:'Жалоба';
						}
					}
				}
				td:nth-child(2) {
					DIV[style="float: left;"] {
						a[href*="javascript:ins"]:before {
							content:'Ник';
						}
						a[href="javascript:pasteQ();"]:before {
							content:'Цитировать';
						}
					}
					DIV[id*="ka_"] {
						.color(50%);
						span {
							margin: 0 0.25rem;
							display: inline-block;
							font-size: 14*@rem;
							.color(50%) !important;
						}
						A[onclick*=",-1);"]:before {
							content:'Плохо';
							.opacity(0.7);
							color: #ff5722;
						}
						A[onclick*=",1);"]:before {
							content:'Хорошо';
							.opacity(0.7);
							color: #259b24;
						}
					}
					DIV[align="right"] {
						a[id*="edit"]:before {
							content:'Изменить';
						}
						A[title="Удалить пост"]:before {
							content:'Удалить';
						}
					}
				}
			}
			td.catend {
				display: none;
			}
		}
		/* Подвал страницы */
		.barc {
			border: none;
			background: none;
			DIV[style*="float: right"] {
				a {
					font-size: 15*@rem;
					.color(50%);
				}
			}
		}
		.formsubtitle {
			margin: 1rem 0.5rem 0;
			padding: 0 !important;
			font-style: italic;
			.color(50%);
			background: none;
			+ DIV.row1 {
				font-style: italic;
				.color(50%);
				background: none;
			}
		}
	}
	.activeusers {
		border: none;
		.row2 {
			background: @tmColor;
			.desc {
				font-size: 15*@rem;
				.color(70%);
			}
			form {
				font-size: 15*@rem;
				.color(70%);
				select {
					padding: 0 1.5rem 0 0;
					margin-bottom: 0.5rem;
					font-size: 16*@rem;
					.color(70%);
					border: none;
					background: none;
					.pref(appearance, none);
					background: url(src/down_grey.svg) no-repeat right;
					background-size: 1.5rem;
				}
				input[type="submit"] {
					padding: 0.25rem 0.75rem;
					margin-bottom: 0.5rem;
					font-size: 14*@rem;
					text-transform: uppercase;
					.color(50%);
					font-weight: bold;
					
					border: none;
					background: none;
				}
			}
		}
	}
	#gfooter {
		padding: 0 0.5rem;
		background: none;
		tbody {
			display: table-block;
			.border-radius;
			background: @spoilColor;
			TD[width="25%"] {
				padding: 0 0.75rem !important;
				font-size: 0.75rem;
				font-style: italic;
			}
			a {
				padding: 0 0.5rem !important;
				font-size: 1rem;
			}
		}
	}
	.copyright {
		font-size: 0.75rem;
		.color(50%);
		background: transparent;
		a {
			.color(50%);
			font-weight: bold;
		}
	}
	.social-icons {
		a:before {
			color: @linkColor;
		} 
	}
	a[href*='http://www.liveinternet.ru/'] {
		display: none;
	}
}
